<br/>
<br/>
<br/>
<strong>Olá, {{ provider }}</strong>
<p> Houve um cancelamento de horário</p>
<hr/>

<p>
  <strong>Cliente: </strong> {{ user }}
</p>
<p>
  <strong>Data/Hora: </strong> {{ date }}
</p>
<br />

<p>
  <small>Horário disponivel para novos agendamentos</small>
</p>
<br/>
<br/>
